*{
    margin: 0;
    padding: 0;
}

body{
    background:  linear-gradient(56deg,#c167f5e3,#4d85d3);
  
}
header{
    padding: 24px;
    color :white;
    height: 100px;
    text-align: center;
    font-size:24px;
    background: linear-gradient(56deg,#c167f5e3,#4d85d3);
    /* position: sticky;
    top: 0px; */
}

footer{
    padding: 12px;
    color :white;
    height: 20px;
    text-align: center;
    font-size:24px;
    position: fixed;
    bottom: 0px;
    width:100%;
    background: linear-gradient(56deg,#c167f5e3,#4d85d3);

}

.circularImage,img{

    height: 100px;
    width: 100px;
    border-radius: 50px;

}

.bio{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;

}

.bioDetails{
    margin: 15px;
}

.myself{
    margin: 50px;
    border: 3px solid linear-gradient(56deg,#c167f5e3,#3a6eb8);;
    border-radius: 12px;
    padding: 24px;
    background-color: linear-gradient(56deg,#c167f5e3,#4d85d3);
    text-align: left;
    color: white;
    box-shadow:8px 18px 60px rgb(67, 2, 104);
    animation: slideIn 1s ease-out both;
    opacity: 0;

}

.more{
    margin: 50px;
    border: 3px solid linear-gradient(56deg,#461761e3,#3a6eb8);;
    border-radius: 12px;
    padding: 24px;
    background-color: linear-gradient(56deg,#461761e3,#4d85d3);
    text-align: left;
    color: white;
    box-shadow:8px 18px 60px rgb(67, 2, 104);
    animation: slideIn 1s ease-out both;
    opacity: 0;

}

@keyframes slideIn {
    0% {
        transform: translateY(50px); /* Start from 50px below */
        opacity: 0; /* Fully transparent */
    }
    50% {
        transform: translateY(75px); /* Start from 50px below */
        opacity: 0; /* Fully transparent */
    }
    100% {
        transform: translateY(0); /* End at normal position */
        opacity: 1; /* Fully visible */
    }
}

button{
    margin: 20px;
    height:40px;
    width:200px;
    border:2px solid orange;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(56deg,#461761e3,#4d85d3);
    box-shadow: 8px 1px 50px orange;
}
button:hover{
    color: white;
    background: linear-gradient(56deg,orange,orange);
   
    box-shadow: 8px 1px 50px orange;

    
}